@{
    ViewData["Title"] = "Index";
}

 <div class="card text-center">
    <div class="card-header">
        Event Name
    </div>
    <div class="card-body container">
        <div class="row">
            <div class="col-3">
                <img />
            </div>
            <div class="col-9">
                <h5 class="card-title">Name: </h5>
                <h5 class="card-title">Date: </h5>
                <h5 class="card-title">Time: </h5>
                <h5 class="card-title">Genre: </h5>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>