@{
    ViewData["Title"] = "Index";
}

<!--<script src="https://maps.googleapis.com/maps/api/js?key=GoogleMapsAPIToken.Token&callback=initMap" type="text/javascript"></script>-->
<style type="text/css">
    #map {
        width: 400px;
        height: 400px;
    }
</style>

<script type="text/javascript">

    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);
    var myLat = position.coords.latitude;
        var myLong = position.coords.longitude;
    function success(position) {
        myLat = position.coords.latitude;
        myLong = position.coords.longitude;
        console.log(position);
    }

    function failure() {
        alert("Could not retrieve location.");
    }

    $.ajax({
        type: "GET",
        url: "https://localhost:8080/event/getEvents/?lat=" + myLat + "&lon=" + myLon
    })

</script>

<div class="card">
    <div class="card-header">
        Event Name
    </div>
    <div class="card-body container">
        <div class="row">
            <div class="col-3">
                <img />
            </div>
            <div class="col-9">
                <h5 class="card-title">Name: </h5>
                <h5 class="card-title">Date: </h5>
                <h5 class="card-title">Time: </h5>
                <h5 class="card-title">Genre: </h5>
            </div>
        </div>
    </div>
</div>


